/*.text {
   align-self: center;
   position: fixed;
   right: 55%;
   height: 60%;
   width: 40%;
   padding: 1em;
   border: 3px solid blue;
   /*justify-self: flex-end;*/

/*
.text {
    display: block;
    flex-wrap: wrap;
    align-self: center;    
    color: black;;
    max-width: 30%;
    min-height: 50%;
    border: 1px solid black;
    position: absolute;
    left: 5%;
    font-size: 18px;
    padding: 1em;
}*/

.text_home {
    display: flex;
    flex-direction: column;
    padding: 2em;
    line-height: 1.5em;
    width: 100%; 
    height: 100%;
    justify-content: center;

    align-self: center;
    position: fixed;
    right: 60%;
    max-height: 60%;
    max-width: 30%;
    padding: 1em;
    border: 3px solid blue;
}

.title {
    width: 100%;
    font-size: 50px;
    margin-bottom: .8em;
}

.title span {
    color: white;
}

.text_home > p {
    font-size: 16px;
}

.signup_button {
    width: 40%;
    text-transform: uppercase;
    margin: 0 auto;
    background-color: black;
    border-radius: 5px;
    border: none;
}

