.content {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: .3em;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    width: 300px;
    max-height: auto;
    transition: all 0.5s ease-out;
    margin: auto;
    margin-top: 30px;
}

.content_form {
    display: flex;
    flex-direction: column;
    align-content: flex-end;;
    padding: .5em;
    border: 1px solid red;
}

.input_element {
    border: 1px solid blue;
    margin-bottom: .5em;
}

