.menu_list {
    display: flex;
    color: black;    
    border: 1px solid red;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.menu_list li {   
    border: 1px solid blue;
    margin: 1em;
    list-style: none;
    font-size: 16px;
    font-family: 'Archivo Black', sans-serif; 
    padding: 1em;  
}

