* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
/*
html, body, #root {
    min-height: 100%;
    border: 1px solid red;
}*/

/* Styles */


#root {
    background-color: #ffdf02; 
    border: 1px solid red;
    height: 900px;
    
}

.container {
    background: url('./Assets/background.jpg') no-repeat; 
    background-size: cover;
    float: right;
    height: 100%;
    width: 50%;
    display: flex;
    /*flex-direction: column;*/
    /*align-items: flex-start;*/
}

.menu {
    display: flex;
    position: absolute;
    left: 0;
    border: 1px solid red;
    width: 50%;
    height: 120px;
}

.menu_logo {
    height: 120px;
    width: 120px;
    border: 1px solid blue;
}

.menu_items {
    display: flex;   
    color: black;    
    border: 1px solid red;
    height: 80%;
    width: 70%;
}

ul {
    display: flex;
    align-items: center;
}

.menu_items li {
    border: 1px solid blue;
    margin: 1em;
    list-style: none;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif; 
    flex-wrap: wrap;  
}

.content {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 10%;
    align-self: center;
    justify-content: center;
    border: 1px solid black;
    font-size: 20px;
    max-width: 30%;
    padding: 1em;
}

.content.form {
    
   
}


