* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
/*
html, body, #root {
    min-height: 100%;
    border: 1px solid red;
}*/

/* Styles */


#root {
    background-color: #ffdf02; 
    border: 1px solid red;
    height: 900px;
    
}

.container {
    background: url('./Assets/background.jpg') no-repeat; 
    background-size: cover;
    float: right;
    height: 100%;
    width: 50%;
    display: flex;
    /*flex-direction: column;*/
    /*align-items: flex-start;*/
}

.content {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 10%;
    align-self: center;
    justify-content: center;
    border: 1px solid black;
    font-size: 20px;
    max-width: 30%;
    padding: 1em;
}
